/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Baloo+Bhaina+2&family=Poppins:wght@400;500;600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--baloo);
}

:root {
  /* text colors */
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --midnight: #104f55;

  /* gradient colors */
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

  /* font family */
  --baloo: "Baloo Bhai 2", cursive;
}

/* ------- Global Classes */
a {
  text-decoration: none;
  color: var(--text-gray);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.3rem;
}

.btn {
  border: none;
  padding: 1rem 2.5rem;
  font-size: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

/* ------- Navbar -------- */
.nav {
  background-color: white;
  padding: 0.2rem;
  height: 0rem;
  min-height: 12vh;
  overflow: hidden;
  /* border: 1px solid purple; */
  /* margin-bottom: 0.6rem; */
  transition: height 1s ease-in-out;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}

.toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

.toggle-icons i {
  font-size: 1.4rem;
  color: var(--text-gray);
}

.nav .nav-brand a {
  font-size: 1.6rem;
  display: block;
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: 800;
}

.nav-brand {
  padding: 1rem 0.3rem;
}

.nav-menu {
  justify-content: space-between;
}

.nav-items {
  display: flex;
}

.nav-link {
  padding: 1.2rem 1rem;
  font-size: 1.5rem;
  position: relative;
}

.nav-link:hover {
  background-color: var(--midnight);
  border-radius: 12px;
}

.nav-link a:hover {
  background-color: var(--midnight);
  color: white;
}

.nav-social {
  padding: 1.4rem 1rem;
}

.nav-social i {
  padding: 0.2rem;
  font-size: 1.2rem;
}

.nav-social i:hover {
  color: #a1c4cf;
}

/* Main Section Content */
/* *********** Site Title ************* */
.site-title {
  background: url("../assets/Background-image.png");
  background-size: cover;
  height: 120vh;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  /* align-items: center; */
}

.site-background {
  padding-top: 15rem;
}

.site-title h1,
h2 {
  margin: 0.3rem;
}

.site-title .btn {
  margin: 1.8rem;
  background: var(--sky);
}

.site-title .btn:hover {
  background: transparent;
  color: white;
  border: 1px solid white;
  font-weight: 800;
}

/* Carousel Cards */
.cards__container {
  margin: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards {
  width: 20rem;
  height: 30rem;
  text-align: center;
  /* box-shadow: 1px 4px 4px 12px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cards img {
  padding-top: 5px;
  width: 100%;
  object-fit: cover;
  height: 14rem;
}

.cards h2 {
  font-size: 1.6rem;
  padding: 1rem 0.5rem;
}

.cards .btn {
  margin-top: 2rem;
  /* padding-top: 1rem; */
  background: var(--sky);
}

/* ----------------- Media Queries --------------- */

/* ------ viewport <= 750px ------ */
@media only screen and (max-width: 750px) {
  .nav-menu,
  .nav-items {
    flex-direction: column;
  }

  .nav .toggle-collapse {
    display: initial;
  }
}

/* viewport <= 750px */
