/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Baloo+Bhaina+2&family=Poppins:wght@400;500;600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--baloo);
}

:root {
  /* text colors */
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --midnight: #104f55;

  /* gradient colors */
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

  /* font family */
  --baloo: "Baloo Bhai 2", cursive;
}

/* ------- Global Classes */
a {
  text-decoration: none;
  color: var(--text-gray);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: 1.1rem;
  color: var(--text-light);
}
.btn {
  border: none;
  padding: 1rem 2.5rem;
  font-size: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.text-gray {
  color: var(--text-gray);
}

.container {
  margin: 0 5vw;
}
/* ------- Navbar -------- */
.nav {
  background-color: white;
  padding: 0.2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  /* border: 1px solid purple; */
  /* margin-bottom: 0.6rem; */
  transition: height 1s ease-in-out;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}

.toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

.toggle-icons i {
  font-size: 1.4rem;
  color: var(--text-gray);
}

.collapse {
  height: 30rem;
}

.nav .nav-brand a {
  font-size: 1.6rem;
  display: block;
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: 800;
}

.nav-brand {
  padding: 1rem 0.3rem;
}

.nav-menu {
  justify-content: space-between;
}

.nav-items {
  display: flex;
}

.nav-link {
  /* padding: 1.2rem 1rem; */
  padding: 0.2rem 0.8rem;
  font-size: 1.5rem;
  position: relative;
}

.nav-link:hover {
  background-color: var(--midnight);
  border-radius: 12px;
}

.nav-link a:hover {
  background-color: var(--midnight);
  color: white;
}

.nav-social {
  padding: 1.4rem 1rem;
}

.nav-social i {
  padding: 0.2rem;
  font-size: 1.2rem;
}

.nav-social i:hover {
  color: #a1c4cf;
}

/* Main Section Content */
/* *********** Site Title ************* */
.site-title {
  background: url("../assets/Background-image.png");
  background-size: cover;
  height: 120vh;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  /* align-items: center; */
}

.site-background {
  padding-top: 15rem;
}

.site-title h1,
h2 {
  margin: 0.3rem;
}

.site-title .btn {
  margin: 1.8rem;
  background: var(--sky);
}

.site-title .btn:hover {
  background: transparent;
  color: white;
  border: 1px solid white;
  font-weight: 800;
}

/* Carousel Cards */
.cards__container {
  margin: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards {
  width: 20rem;
  height: 30rem;
  text-align: center;
  /* box-shadow: 1px 4px 4px 12px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cards img {
  padding-top: 5px;
  width: 100%;
  object-fit: cover;
  height: 14rem;
}

.cards h2 {
  font-size: 1.6rem;
  padding: 1rem 0.5rem;
}

.cards .btn {
  margin-top: 2rem;
  /* padding-top: 1rem; */
  background: var(--sky);
}

/* *********** Blog content *********** */
.site-content {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: 70% 30%;
  /* border: 2px solid black; */
}

.post-content {
  width: 100%;
}

.post-info span {
  margin: 0.4rem;
}

.post-content > .post-image,
.post-title {
  padding: 1rem 0;
  position: relative;
}

.post-content > .post-image .post-info {
  background: var(--sky);
  padding: 1rem;
  position: absolute;
  bottom: 0%;
  left: 20vw;
  border-radius: 2.4rem;
}

.post-image > div {
  overflow: hidden;
}

.post-image .img {
  width: 100%;
  transition: all 1s ease;
}

.post-image .img:hover {
  transform: scale(1.3);
}

.post-title a {
  font-size: 1.8rem;
  font-weight: 800;
  color: black;
}

.post-btn {
  border-radius: 0;
  padding: 0.7rem 1.5rem;
  background: skyblue;
}

/* ********** Pagination *********** */
.pagination {
  justify-content: center;
  color: var(--text-gray);
  margin: 4rem 0;
  /* text-align: center; */
}

.pagination a {
  padding: 0.6rem 1rem;
  border-radius: 1.2rem;
  margin: 0.3rem;
  font-size: 1rem;
  width: 0.8rem;
}

.pages {
  background: var(--text-gray);
  color: white;
}

/* Sidebar */
.category h2 {
  text-align: center;
}

.list-items {
  background: var(--sky);
  padding: 0.4rem 1rem;
  margin: 0.8rem 0;
  border-radius: 3rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.list-items a {
  color: black;
}

.popular-post .post-content {
  margin: 1rem 2rem;
  width: 70%;
}

.popular-post h2 {
  padding-top: 8rem;
  text-align: center;
}

.popular-post .post-title a {
  font-size: 1.2rem;
}

.popular-post .post-info {
  padding: 0.4rem 0.1rem !important;
  bottom: 0rem !important;
  left: 1rem !important;
  border-radius: 0rem !important;
  background: white !important;
}

.newsletter {
  padding-top: 3rem;
}

.form-element {
  margin-left: 2rem;
  padding: 0.5rem 2rem;
}

.newsletter h2 {
  text-align: center;
}

.form-element input {
  width: 74%;
  padding: 0.8rem;
  outline: none;
}

.form-btn {
  margin-top: 1rem;
  padding: 1rem 30%;
  background: var(--sky);
  border-radius: 0;
}

.popular-tags {
  text-align: center;
  padding: 3rem 0;
}

.tags {
  margin-left: 3rem;
}

.tag {
  background: var(--sky);
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  margin: 0.4rem 0.6rem;
}

/* ************** Footer ************* */
.footer {
  width: 100%;
  background: black;
  color: white;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}

.footer .about {
  width: 25%;
  /* border: 1px dashed white; */
}

.letter {
  width: 22%;
  /* border: 1px dashed white; */
}

.letter .email {
  display: flex;
  /* object-fit: contain; */
  flex: 1;
}

.letter input {
  padding: 0.6rem;
  outline: none;
  font-size: 1rem;
  background: black;
  color: gray;
  width: 75%;
}

.letter i {
  font-size: 1.5rem;
  background: var(--sky);
  padding: 0.5rem;
  cursor: pointer;
  color: black;
}

.instagram {
  width: 30%;
  /* border: 1px dashed white; */
}

.instagram .images {
  margin: 0.8rem;
}
.instagram .images img {
  width: 5rem;
  height: 4rem;
  padding: 0.2rem;
  /* object-fit: contain; */
}

.follow {
  width: 15%;
  /* border: 1px dashed white; */
}

.social-icons i {
  font-size: 1.5rem;
  padding: 0.4rem;
  color: white;
}

.scroll-top {
  position: relative;
  margin-top: 10%;
}
.scroll-top span {
  font-size: 2rem;
  color: skyblue;
}

.scroll-top span:hover {
  color: white;
  cursor: pointer;
}

.copyright {
  text-align: center;
  padding-bottom: 1em;
}

.copyright p strong {
  color: white;
}

.heart {
  color: red;
  border: none;
}

/* ******************** Slider ************************ */
.blog {
  background: url("../assets/Abract01.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  width: 100%;
  background-size: 68%;
}

.blog-post {
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
}

.blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.blog-title {
  padding: 2rem 0;
}

.btn-blog {
  padding: 0.7rem 2rem;
  background: var(--sky);
  margin: 0.5rem;
}

.blog-content span {
  display: block;
  margin: 0.5rem;
}

.owl-nav {
  position: absolute;
  top: 0%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
  color: var(--text-gray);
  background: transparent;
  font-size: 3rem;
  margin: 1rem;
}

.owl-theme .owl-nav[class*="owl-"]:hover {
  background: transparent;
  color: var(--midnight);
}

.owl-theme .owl-nav[class*="owl-"] {
  outline: none;
}

/* ----------------- Media Queries --------------- */

/* ------ viewport <= 1130px ------ */
@media only screen and (max-width: 1100px) {
  .post-content .post-info {
    left: 2rem !important;
    bottom: 1.2rem !important;
    border-radius: 0% !important;
  }
  .popular-post .post-info {
    display: none !important;
  }

  .footer .container .about {
    width: 450%;
  }
  .footer .container .letter {
    width: 45%;
  }
  .footer .container .instagram {
    width: 45%;
  }
  .footer .container .follow {
    width: 45%;
  }
  .scroll-top {
    position: absolute;
    margin-left: 80%;
  }
}

/* ------ viewport <= 750px ------ */
@media only screen and (max-width: 750px) {
  .nav-menu,
  .nav-items {
    flex-direction: column;
  }

  .nav .toggle-collapse {
    display: initial;
  }

  .site-content {
    grid-template-columns: 100%;
  }

  .form-btn {
    padding: 1rem 36%;
  }
}

/* ------ viewport <= 520px ------ */
@media only screen and (max-width: 520px) {
  .blog {
    height: 125vh;
  }

  .popular-post h2 {
    padding-top: 0.4rem;
  }

  .popular-post .post-content {
    padding: 1rem;
    margin: 0.5rem;
  }

  .pagination {
    margin: 2rem 0;
  }
  .pagination a {
    width: 0.2rem;
    border-radius: 1rem;
  }

  .newsletter {
    padding-top: 1rem;
  }

  .form-element {
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
  }

  .footer .container .about {
    width: 100%;
  }
  .footer .container .instagram {
    width: 100%;
  }
  .footer .container .letter {
    width: 100%;
  }
  .footer .container .follow {
    width: 100%;
  }

  .scroll-top {
    position: absolute;
    margin-left: 70%;
  }

  .social-icons i {
    font-size: 0.8rem;
  }

  .instagram .images .img {
    width: 3rem;
    height: 2rem;
    padding: 0.2rem;
  }

  .toggle-collapse {
    width: 80%;
  }

  .post-info {
    background: var(--sky);
    padding: 0rem !important;
  }
}

@media only screen and (max-width: 470px) {
  .post-info {
    display: none;
  }
}

/* ------ viewport <= 260px ------ */
@media only screen and (max-width: 260px) {
  .footer .container {
    padding: 0rem !important;
  }
  .footer .container .instagram .images .img {
    width: 3rem !important;
    height: 3rem !important;
    padding: 0.2rem !important;
  }
  .instagram .images {
    margin: 0rem !important;
  }
}
